* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root{
  --max-width: 1600px;
  --border-color: rgba(42, 53, 65, 0.85);
  --blueprint-color: #a9e7ff;
  --card-border-radius: 32px;
}